<section id="banner">
  <div class="inner">
    <header class="major">
      <h2>{% t pages.details.title %}</h2>
      <p>{% t pages.details.date %}</p>
    </header>

    <h3>12:30 - 13:30 | <a href="#ceremony">Villa Boveri</a></h3>
    <p>12:30 - 13:00 | {% t pages.details.ceremony_info %}</p>
    <p>13:00 - 13:30 | Fotos mit Brautpaar</p>

    <h3>14:15 - 17:30 | <a href="#festivities">Club Joy/Grand Casino Baden</a></h3>
    <p>{% t pages.details.apero_info %}</p>
    <p>Fotos mit Brautpaar</p>
    
    <h3>18:00 - 02:00 | <a href="#festivities">Grand Casino Baden</a></h3>
    <p>18:00 | {% t pages.details.dinner_info %}</p>
    <p>20:30 | Desserbuffet & Tortenanschnitt</p>
    <p>21:00 - 23:00 | Bar</p>
    <p>21:00 - 02:00 | Party</p>

  </div>
</section>