<section class="spotlight" style="background: rgb(43, 52, 61);">

  <div class="content">
    <h3>12:15 - 13:15 | <a href="#ceremony">Villa Boveri</a></h3>
    <p>12:30 - 13:00 | {% t pages.details.ceremony_info %}</p>
    <p>13:15 - 13:30 | {% t pages.details.after_cereomony %}</p>
    <h3>13:30 - 17:00 | <a href="#festivities">Club Joy/Grand Casino Baden</a></h3>
    <p>{% t pages.details.apero_drinks %}</p>
    <p>{% t pages.details.apero_info %}</p>
    <p>{% t pages.details.apero_pictures %}</p>
    <p> {% t pages.details.apero_bouquet %}</p>

    <h3>{% t pages.details.dinner_guests %} | 17:00 - 02:00 | <a href="#festivities">Grand Casino Baden</a></h3>
    <p>17:30 | {% t pages.details.dinner_info %}</p>
    <p>21:15 | {% t pages.details.dinner_cake %}</p>
    <p>22:00 - 02:00 | {% t pages.details.dinner_party %}</p>

    <h2>{% t pages.details.notice %}</h2>
  </div>

  <div class="image">
    <img src="images/couple/couple1.jpg" alt="Sooo cute" />
  </div>
</section>