<section class="spotlight" style="background: rgb(43, 52, 61);">

  <div class="content">
    <h2>ℹ️ {% t pages.downloads.info_title %}</h2>
    <p>{% t pages.downloads.info %}</p>

    <h3><a href="http://bit.ly/chantalundbenj">⬇️ {% t pages.downloads.marlene %}</a></h3>
    <p>{% t pages.downloads.marlene_info %}</p>
        
    <h3><a href="https://hitachipowergrids-my.sharepoint.com/:f:/g/personal/benjamin_huser_hitachienergy_com/EqM8Wp00ZJdHkw8G_Nt4gdEBwWDXPeH1Hoe-qH-PD3xS4g?e=9djOF1">⬇️ {% t pages.downloads.fotobox %}</a></h3>
    <p>{% t pages.downloads.fotobox_info %}</p>

    <h3><a href="https://hitachipowergrids-my.sharepoint.com/:f:/g/personal/benjamin_huser_hitachienergy_com/Eo39TxVjj6pJi7ZSFIWedkABUSsDkRp_t27uxlOP-45cCQ?e=mhuk5I">⬇️ {% t pages.downloads.evening %}</a></h3>
    <p>{% t pages.downloads.fotobox_info %}</p>

  </div>

  <div class="image">
    <img src="images/rings.jpg" alt="Picture by Marlene Madianos (https://www.marlenemadianos.com/)" />
    <figcaption><a href="https://www.marlenemadianos.com/">Foto von Marlene Madianos (https://www.marlenemadianos.com)</a></figcaption>
  </div>
</section>