<section class="spotlight">
  <!-- Empty section on purpose to force next section to have image on the right -->
  <div class="image"
    style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
  </div>

</section>

<section class="spotlight" style="background: rgb(43, 52, 61);">
  <div class="content">
    <h2>{% t pages.gifts.title %}</h2>
    <p>{% t pages.gifts.intro_text %}</p>
    <p>{% t pages.gifts.wire_transfer %}</p>
    <p>{% t pages.gifts.account_details %}</p>

  </div>

  <div class="image">
    <a href="https://www.youtube.com/watch?v=Ixrje2rXLMA"><img src="images/gifts.jpg" alt="" /></a>
  </div>
</section>

<section class="banner">  
  <div class="image">
    <img src="images/couple/couple4.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: auto;" alt="Sooo cute" />
  </div>
</section>