<section class="spotlight" style="background: rgb(92, 136, 169)">
  <div class="content">
    <h2>{% t pages.good_to_know.title %}</h2>

    <p>{% t pages.good_to_know.dresscode %}</p>
    </br>
    <p>{% t pages.good_to_know.photos %}</p>
    </br>
    <p>{% t pages.good_to_know.congratulations %}</p>
    </br>
    <p>{% t pages.good_to_know.casino %}</p>

  </div>
  <div class="image">
    <img class="center" style="width: 50%; height: 50%;" src="images/couple/couple3.jpg" alt="Sooo cute" />
  </div>
</section>