<section class="spotlight">
    <div class="content">        
        <h2>{% t pages.rsvp.title %}</h2>

        <p>{% t pages.rsvp.description %}</p>

        <p>
            - {% t pages.rsvp.registration %}</br>
            - {% t pages.rsvp.guest_count %}</br>
            - {% t pages.rsvp.food %}</br>
            - {% t pages.rsvp.allergies %}
        </p>

        <p>
            <a href="mailto:benj.huser@gmail.com">{% t pages.rsvp.email %} benj.huser@gmail.com</a>
        </p>
    </div>
    <div class="image">
        <img src="images/rsvp.png" alt="" />
    </div>
</section>


<section class="spotlight" style="background: rgb(43, 52, 61);">
    <div class="image">
      <img src="images/couple/couple2.jpg" alt="Sooo cute" />
    </div>
  </section>