<section id="banner">
    <div class="inner">
        <header class="major">
            </br></br>
            <h2>{% t pages.rsvp.title %}</h2>
        </header>
    </div>


    <section class="spotlight">
        <div class="content">
            <p>{% t pages.rsvp.description %}</p>

            <p>
                - {% t pages.rsvp.registration %}</br>
                - {% t pages.rsvp.guest_count %}</br>
                - {% t pages.rsvp.food %}
            </p>

            <p>
                <a href="mailto:benj.huser@gmail.com">{% t pages.rsvp.email %} benj.huser@gmail.com</a>
            </p>
        </div>
        <div class="image" >
            <a href="mailto:benj.huser@gmail.com" target="blank_"><img src="images/rsvp.png" alt="" /></a>
        </div>
    </section>
    <section>
        <div class="image" style="background-color: rgb(39, 48, 56);">
           <img class="center" style="width: 50%; height: 50%;" src="images/couple/couple2.jpg" alt="Sooo cute" />
        </div>
    </section>

</section>